html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: navajowhite;
    background-image: url("images\tiger.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: rgb(54, 65, 61);
    margin: 20px;
    padding: 0px 10px;
}
section{
    background: cornsilk;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
footer{
    background: gray;
    padding: 20px;
    margin: 20px;
}
div{
    background-color: beige;
    display: inline-block;
    width: 200px;
    padding: 20px;
    margin: auto;
    text-align: center;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    display: inline-block;
    margin: auto;
    color: white;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    text-align: center;
    padding: 20px;
}
section.content.images div{
    width: 100%;
    margin: 20px;
}
li.logo{
    background-image: url(images/idk.jpg);
}